  <form #carForm="ngForm" (ngSubmit)="save(carForm.value)">
      <h2>{{car.name ? 'Edit' : 'Add'}} Car</h2>
      <input type="hidden" name="href" [(ngModel)]="car.href">
        <input  placeholder="Car Name" [(ngModel)]="car.name"
               required name="name" #name>
      <button color="primary" type="submit"
              [disabled]="!carForm.form.valid">Save</button>
      <button  color="secondary" (click)="remove(car.href)"
              *ngIf="car.href" type="button">Delete</button>
      <a routerLink="/car-list">Cancel</a>
      <!-- <div class="giphy">
        <img src="{{car.giphyUrl}}" alt="{{car.name}}">
      </div> -->
  </form>
